.e-schedule .e-month-view .e-appointment {
    /*height : fit-content !important; /* Evita height fixo, mas se deixar, um evento fica em cima do outro e só dá pra ver um */
    display: flex !important; /* Habilita flexbox para layout fluido */
    white-space: normal !important; /* aqui funcionou, parece que só essa resolve */
}

.e-schedule .e-appointment .e-lib .e-draggable .e-appointment-details {
    white-space: normal !important;
    height: fit-content !important; /* Evita height fixo */
    overflow: visible !important;    
    word-wrap: break-word !important;    
}


/* Verde pastel para eventos entregues. Sem adicionar nada, dá certo, mas só preenche a largura do texto (ainda fica um azul por tras) */
/* essa classe cria uma classe para o checkbox e outra para o appointment details. Tudo que estiver dentro
dele vai ficar com as cores definidas*/
.e-custom-delivered  {
    background: #98FB98 !important;
    border-color: #32CD32 !important;
}